header {
  display: flex;
  justify-content: space-between;
  background-color: #1dace0;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.mt {
  margin-top: 70px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.seedkun {
  height: 60px;
}

strong {
  color: #eae51f;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.header-right li:first-child {
  margin-right: 20px;
}

.welcome {
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 64px;
}

.guideline {
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
}

.guideline li {
  margin-top: 16px;
}

.guideline li:first-child {
  margin-top: 0;
}

.btn-group {
  margin-top: 50px;
}

.btn {
  height: 55px;
  width: 170px;
  margin-left: 120px;
  font-size: 28px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn:first-child {
  margin-left: 0;
}

.register {
  background-color: rgba(29, 172, 224, .5);
  border-color: rgba(29, 172, 224, .5);
}

.register:hover {
  background-color: rgb(29, 172, 224);
}

.login {
  background-color: rgba(236, 227, 35, .5);
  border-color: rgba(236, 227, 35, .5);
}

.login:hover {
  background-color: rgb(236, 227, 35);
}


.life {
  background-color: #fff;
  justify-content: center;
  margin: 50px 0;
}

.subtitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.contents {
  display: flex;
  justify-content: center;
}

.contents li {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  text-align: center;
}

.contents li:first-child {
  margin-left: 0;
}

.contents li img {
  height: 300px;
  width: 300px;
}

.contents li p {
  font-size: 24px;
  margin-top: 20px;
}


.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  background-color: #ebf4f5;
  padding: 50px 0 40px;
}

.contact h2 {
  font-size: 36px;
}
 
.contact .form {
  margin: 50px 0 40px;
  /*上、左右、下*/
  display: flex;
  justify-content: center;
}

.form-left {
  margin-right: 50px;
}

.form .name,
.form .email {
  height: 50px;
  width: 400px;
  font-size: 16px;
  box-sizing: border-box;
  /*box-sizingを使うことでもともとあるpaddingも含めて計算し指定した高さと幅にしてくれる*/
}

.form .name {
  margin-bottom: 20px;
}

.form .inquiry {
  height: 120px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}

.contact button {
  background-color: #1dace0;
  color: #fff;
  border: 5px solid #1dace0;
  font-size: 24px;
  padding: 15px 30px;
  border-radius: 10px;
  box-sizing: border-box;
  transition-duration: 500ms;
}

.submit:hover {
  background-color: #fff;
  color: #1dace0;
  transition-duration: 500ms;
}


footer {
  background-color: #233f51;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  align-items: center;
}

.footer-left {
  display: flex;
  margin-left: 80px;
  align-items: center;
}

.footer-right {
  margin-right: 80px;
}

@media screen and (max-width: 1280px) {
  .comtents {
    justify-content: space-around;
  }

  .contents li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 960px) {
  .contact {
    padding: 40px 0;
  }

  .contact .form {
    flex-direction: column;
    margin: 30px;
  }

  .form-left {
    margin-right: 0px;
  }

  .form .name,
  .form .email {
    width: 80%;
  }

  .form .inquiry {
    margin-top: 30px;
    width: 80%;
   }

  .contact button {
    font-size: 20px;
    padding: 5px 40px;
  }
}

@media screen and (max-width: 480px) {


  .header-left {
    margin-left: 20px;
  }

  .header-left span {
    display: none;
  }

  .header-right {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .guideline {
    margin-top: 30px;
    font-size: 24px;
    font-weight: normal;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }

  .btn {
    margin-left: 0;
    font-size: 24px;
    height: 50px;
    width: 140px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 24px;
  }

  .contents {
    flex-direction: column;
    align-items: center;
  }

  .contents li {
    margin-left: 0;
  }

  .contents li p {
    font-size: 16px;
    margin:20px 0;
  }



 .contact h2 {
  font-size: 24px;
 }

 .form .name,
 .form .email {
  height: 30px;
 }

  .form .inquiry {
    height: 50px;
  }

  footer {
    justify-content: center;
  }

  .footer-left {
    display: none;
  }

  .footer-right {
    margin-right: 0;
  }

  
}